<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Flask App</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"> -->
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>MongoDB Flask App</h1>

    <div class="content">
        <form action="POST">
            <p>
                <b><label for="search">Search</label></b>
            </p>
            <p>
                <input type="text" name="search" placeholder="search for keywords ...">
            </p>
            <button type="submit">Submit</button>
        </form>

    </div>

    <div id="reactEntry">
        Loading ...
    </div>
    <!-- Load JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>